groundingdino @ git+https://github.com/chrizandr/GroundingDINO.git
segment_anything @ git+https://github.com/chrizandr/segment-anything.git
requests
tqdm
Pillow
torch
torchvision
numpy
diffusers
scikit-image
roboflow